<div class="innerLR" ng-controller="MedcardController" ng-init="allMedcards()">
    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Медкарти</h4>
        </div>
        <div class="widget-body" ng-controller="PatientController">
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <input type="text" id="txtNotessearch" ng-model="search_notes" class="form-control" placeholder="Пошук...">
                </div>
            </div>

            <div class="separator"></div>

            <div>
                <table id="patients" class="table" ng-controller="CategoryController">
                    <thead>
                        <tr>
                            <th>
                                №
                            </th>
                            <th>
                                ПІБ
                            </th>
                            <th>
                                Дата госпіталізації
                            </th>
                            <th>
                                Відділення
                            </th>
                            <th>
                                Категорія
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in medcards| filter:search_notes | startFrom:currentPage * pageSize | limitTo:pageSize"
                            data-href="{{'/medcard/view/' + item.number}}">
                            <td>
                                {{item.number}}
                            </td>
                            <td>
                                {{item.patient.lastname}}
                                {{item.patient.name}}
                                {{item.patient.patronymic}}
                            </td>
                            <td>
                                {{item.hospDate.date.toString().substr(0, 10)}}
                            </td>
                            <td>
                                {{item.separation}}
                            </td>
                            <td>
                                {{item.patient.category.title}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">
                    Назад
                </button>
                {{currentPage + 1}}/{{numberOfPages()}}
                <button class="btn btn-primary" ng-disabled="(currentPage + 1) == numberOfPages()" ng-click="currentPage = currentPage + 1">
                    Вперед
                </button>
            </div>
            <!--div class="preloaderbg">
                <div id="preloader">
                    <img src="/images/467.GIF" alt="AJAX loader" title="AJAX loader" />
                </div>
            </div-->
        </div>
    </div>
</div>