<div class="tab-pane" id="tab6">
    <form class="form-horizontal" name="form" role="form">
        <div class="innerLR">
            <div class="row">
                <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">Щоденник</h4>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="row innerLR">
                            <div class="col-md-12" ng-controller="ExpertInspectionController">
                                <div class="gridStyle" ng-grid="inspectionsGrid"></div>
                            </div>
                        </div>
                        <div class="innerLR">
                            <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="updateMedcard(medcard)"><i class="fa fa-check"></i> Оновити</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </form>
</div>