<div class="tab-pane" id="tab5">
    <!--div class="preloaderbg">
        <div id="preloader">
            <img src="/images/467.GIF" alt="AJAX loader" title="AJAX loader" />
        </div>
    </div-->
    <form class="form-horizontal" name="form" role="form" id="jForm">
        <div class="row innerLR">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">Щоденник</h4>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="row innerLR">
                            <div class="col-md-12" ng-controller="NotebookController">
                                <div class="gridStyle" ng-grid="notebooksGrid"></div>
                            </div>
                        </div>
                        <div class="innerLR">
                            <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="updateMedcard(medcard)"><i class="fa fa-check"></i> Оновити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </form>
</div>