/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600&subset=latin,latin-ext);*/
/*!
 * ErgoAdmin v1.2
 *
 * Copyright MosaicPro
 * http://www.mosaicpro.biz
 *
 * Designed and built exclusively for sale @Envato Marketplaces.
 */
.normal {
    font-weight: normal;
}
.hideText {
    text-indent: -999em;
    letter-spacing: -999em;
    overflow: hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #fdfdfd;
    font-size: 13px;
    color: #7c7c7c;
    margin: 0px;
    padding: 0px;
}
*,
a:focus {
    outline: none !important;
}
button:focus {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0;
}
a:hover {
    color: #333333;
}
a {
    color: #8ec657;
    outline: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 5px;
    font-weight: 600;
    color: #7c7c7c;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: #afafaf;
    font-weight: 600;
    padding: 0 5px;
    font-style: italic;
}
h1 span,
h2 span,
h3 span {
    font-size: 50%;
    text-transform: none;
    padding: 0;
    position: relative;
    top: -3px;
    font-weight: 400;
}
h1,
h2,
h3 {
    line-height: 30px;
}
p {
    margin: 0 0 10px;
    line-height: normal;
}
input,
button,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
}
.separator {
    padding: 15px 0;
    display: block;
}
.separator.bottom {
    padding: 0 0 15px;
}
.separator.top {
    padding: 15px 0 0;
}
hr {
    border-top-color: #d8d8d8;
    border-bottom: none;
    margin: 15px 0;
}
hr.separator {
    padding: 0;
}
hr.separator.top {
    margin: 15px 0 0;
}
hr.separator.bottom {
    margin: 0 0 15px;
}
.map_canvas img {
    max-width: none !important;
}
.streetview {
    width: 100%;
    height: 300px;
}
.ui-dialog-vevent .dtstart {
    display: none;
}
.ui-dialog-vevent .website {
    margin: 0 0 1em;
}
.innerLR {
    padding: 15px;
    position: relative;
}
.innerTB {
    padding: 15px 0;
    position: relative;
}
.innerAll {
    padding: 15px;
    position: relative;
}
.innerL {
    padding-left: 15px;
    position: relative;
}
.innerR {
    padding-right: 15px;
    position: relative;
}
.innerT {
    padding-top: 15px;
    position: relative;
}
.innerB {
    padding-bottom: 15px;
    position: relative;
}
.center {
    text-align: center !important;
}
.right {
    text-align: right;
}
.margin-bottom-none {
    margin-bottom: 0 !important;
}
.margin-none {
    margin: 0 !important;
}
.padding-none {
    padding: 0 !important;
}
.padding-none-TB {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.relativeWrap {
    position: relative;
}
.text-primary {
    color: #8ec657;
}
.row-merge {
    position: relative;
}
.row-merge > [class*="span"] ~ [class*="span"] {
    margin-left: 0;
}
.row-merge > [class*="span"] ~ [class*="span"]:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #d8d8d8;
    content: "";
}
.row-merge.border-top,
.row-merge ~ .row-merge {
    border-top: 1px solid #d8d8d8;
}
.row-merge.border-bottom {
    border-bottom: 1px solid #d8d8d8;
}
#wrapper {
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    border-top: 1px solid #d8d8d8;
}

body > .container-fluid.documentation {
    background: #fff;
}
body > .container-fluid.fixed {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
body > .container-fluid.fixed #wrapper {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
body > .container-fluid.fixed #content {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.navbar.main,
.navbar.main .wrapper {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.navbar-hidden.navbar.main {
    border-top: none;
}
#content {
    position: relative;
    overflow: hidden;
    margin: 0px;
    min-width: 320px;
    min-height: 761px;
    padding: 0 0 15px;
    background: #fafafa;
}
#content > .menubar {
    border-left: none;
    border-right: none;
}
#content > p {
    padding: 0 15px 5px;
}
#content > h1,
#content > h2,
#content > h3,
#content > h4,
#content > h5,
#content > h6 {
    margin: 18px 15px 15px;
    font-weight: 400;
    text-shadow: 0 1px 0 #ffffff;
}
#content > .filter-bar {
    border-right: none;
    border-left: none;
}
#content > .widget {
    border-left: 0;
    border-right: 0;
}
#content > .widget .widget-head,
#content > .widget .widget-body {
    border-left: 0;
    border-right: 0;
}
#content > .widget:last-child {
    margin: 0;
}
#content > .table {
    border-left: none;
    border-right: none;
}
#content > .table tr td:first-child {
    border-left: none;
}
#footer {
    color: #fff;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}
#footer a:not(.btn) {
    color: #565656;
}
#footer .copy {
    background: #7c7c7c;
    padding: 5px 10px;
    height: 28px;
}
#footer .copy a {
    color: #8ec657;
}
#footer .row-menu {
    padding: 10px;
}
#footer .row-menu [class*="span"] > ul {
    margin: 0;
}
.ui-resizable-helper.menu {
    border: 1px dotted gray;
    border-left: none;
    background: rgba(0, 0, 0, 0.3);
}
.ui-resizable-handle {
    width: 3px;
    border-style: solid;
    border-width: 0;
    border-color: rgba(0, 0, 0, 0.4);
}
#menu {
    width: 228px;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background: #f2f3f4;
    box-shadow: 0px 0px 3px 2px #f0f0f0;
    -moz-box-shadow: 0px 0px 3px 2px #f0f0f0;
    -webkit-box-shadow: 0px 0px 3px 2px #f0f0f0;
    border-right: 1px solid #d8d8d8;
}
#menu .appbrand {
    font-size: 19px;
    font-weight: 700;
    display: block;
    text-decoration: none;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    color: #8ec657;
    background: #fafafa;
}
#menu .appbrand > span {
    font-weight: 400;
    color: #b3b3b3;
    font-size: 13px;
}
#menu .profile {
    display: block;
    height: 93px;
    line-height: normal;
    padding: 10px;
    border-bottom: 1px solid #fafafb;
    border-top: 1px solid #d8d8d8;
    background: #f2f3f4;
}
#menu .profile span {
    text-align: left;
    display: block;
    padding: 0;
    width: 140px;
}
#menu .profile span ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu .profile span ul li {
    height: 22px;
    line-height: 19px;
    margin: 0 0 3px;
    border-bottom: 1px solid #fafafb;
}
#menu .profile span ul li a {
    display: block;
    color: #7c7c7c;
    font-size: 12px;
    border: 1px solid #d8d8d8;
    height: 20px;
    line-height: 20px;
    background: #fafafb;
}
#menu .profile span ul li a i:before {
    font-size: 12px;
    font-weight: 400;
    color: #afafaf;
    left: 7px;
    top: 3px;
}
#menu .profile span ul li a:hover {
    text-decoration: none;
    border-color: #bfbfbf;
}

#menu.ui-state-disabled {
    opacity: 1;
    filter: alpha(opacity=100);
}
.menu-left .ui-resizable-e {
    background: rgba(255, 255, 255, 0.2);
    right: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
.menu-left .ui-resizable-e:hover {
    background: rgba(255, 255, 255, 0.4);
}
.menu-right .ui-resizable-w {
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
.menu-right .ui-resizable-w:hover {
    background: rgba(255, 255, 255, 0.4);
}
.menu-right #menu {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid #d8d8d8;
}
.menu-right #content {
    margin: 0 228px 0 0;
}
.menu-hidden #menu {
    display: none;
}
.menu-hidden #content {
    margin: 0;
}

.main {
    height: 50px;
    background-color: #f2f3f4;
    box-shadow: 0 2px 0 0 #f0f0f0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin: 0;
    padding-bottom: 0px;
    position: relative;
}

.submenu-show {
    display: block;
    margin-top: -29px !important;
    position: absolute;
}
.submenu-show.pull-left {
    left: auto !important;
    right: 100% !important;
}
.submenu-show.pull-right {
    right: auto !important;
    left: 100% !important;
}
.submenu-hide {
    display: none !important;
    position: relative;
    top: auto;
    float: left;
}
.widget {
    background: #ffffff;
    margin: 0 auto 15px;
    position: relative;
    border: 1px solid #d8d8d8;
    box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -moz-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -webkit-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
}
.widget .tab-content {
    padding: 0;
}
.widget .widget-head {
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f4f4', GradientType=0);
    box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -moz-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -webkit-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    text-shadow: 0 1px 0 0 1px 0 #ffffff;
    height: 35px;
    line-height: 35px;
    position: relative;
    padding: 0 15px 0 0;
    overflow: hidden;
}
.widget .widget-head.progress {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    margin: 0;
    padding: 0;
}
.widget .widget-head .heading {
    margin: 0;
    color: #7c7c7c;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    float: left;
}
.widget .widget-head a {
    text-shadow: none;
}
.widget .widget-head .dropdown-menu li > a:hover,
.widget .widget-head .dropdown-menu li > a:focus,
.widget .widget-head .dropdown-submenu:hover > a {
    background-color: #8ec657;
    background-image: -moz-linear-gradient(top, #8ec657, #d24343);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ec657), to(#d24343));
    background-image: -webkit-linear-gradient(top, #8ec657, #d24343);
    background-image: -o-linear-gradient(top, #8ec657, #d24343);
    background-image: linear-gradient(to bottom, #8ec657, #d24343);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda4c4c', endColorstr='#ffd24343', GradientType=0);
}
.widget .details {
    font-size: 8pt;
    color: #7c7c7c;
}
.widget .widget-body {
    padding: 15px;
}
.widget .widget-body form {
    margin: 0;
}
.widget .widget-body > pre:last-child,
.widget .widget-body > p:last-child {
    margin: 0;
}
.widget .widget-body.list {
    color: #7c7c7c;
    padding: 0;
}
.widget .widget-body.list .count {
    font-size: 15pt;
    font-weight: 400;
}
.widget .widget-body.list ul {
    margin: 0;
    list-style: none;
}
.widget .widget-body.list ul li {
    padding: 0 10px;
    height: 39px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    line-height: 39px;
    text-align: left;
    clear: both;
}
.widget .widget-body.list ul li:first-child {
    border-top: none;
}
.widget .widget-body.list ul li:last-child {
    border-bottom: none;
}
.widget .widget-body.list ul li .count {
    float: right;
    color: #8ec657;
}
.widget .widget-body.list ul li .sparkline {
    position: relative;
    top: 5px;
    margin-left: 5px;
}
.widget .widget-body.list.list-2 ul li {
    border-bottom: 1px solid #d8d9da;
    border-top: none;
    background: #f8f8f8;
}
.widget .widget-body.list.list-2 ul li.active {
    border-color: #dddddd;
    background: #fff;
}
.widget .widget-body.list.list-2 ul li.active i:before {
    font-weight: normal;
    background: #8ec657;
    color: #fff;
    text-shadow: none;
}
.widget .widget-body.list.list-2 ul li.active a {
    color: #8ec657;
}
.widget .widget-body.list.list-2 ul li:last-child {
    border-bottom: none;
}
.widget .widget-body.list.list-2 ul li a {
    display: block;
    color: #222;
    padding: 0 0 0 30px;
}
.widget .widget-body.list.list-2 ul li a i:before {
    color: #555;
    width: 20px;
    height: 17px;
    font-size: 14px;
    border: 1px solid #ccc;
    background: #dddddd;
    top: 9px;
    left: 0;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    text-shadow: 0 1px 0 #fff;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu {
    height: auto;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul {
    padding: 0 0 10px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li {
    height: auto;
    line-height: normal;
    background: none;
    border: none;
    line-height: 20px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li a {
    color: #333;
    padding: 0 0 0 20px;
}
.widget .widget-body.list.list-2 ul li.hasSubmenu ul li.active a {
    font-weight: bold;
}
.widget .widget-footer {
    background: #fafafa;
    height: 25px;
    line-height: 25px;
    border-top: 1px solid #ebebeb;
}
.widget.margin-bottom-none {
    margin-bottom: 0;
}
.widget.widget-gray {
    background: #f5f5f5;
}
.widget.widget-gray .widget-head {
    background: #e9e9e9;
    border-color: #d1d2d3;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.widget.widget-gray .widget-head .heading {
    color: #555555;
    text-shadow: 0 1px 0 #fff;
}
.widget.widget-2:before,
.widget.widget-2:after {
    display: none;
}
.widget.widget-2 .widget-head {
    background: #e2e2e4;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);
    height: 36px;
    line-height: 36px;
    border-color: #d1d2d3;
}
.widget.widget-2 .widget-head .heading {
    line-height: 36px;
    color: #555555;
    text-shadow: 0 1px 0 #fff;
    font-size: 12pt;
}
.widget.widget-2 .widget-head .heading i:before {
    color: #555555;
    background: none;
    border: none;
    left: 3px;
    top: 2px;
}
.widget.widget-2 .widget-body {
    border: 1px solid #d1d2d3;
    border-top: 0;
    background: #f5f5f5;
}
.widget.widget-2.primary .widget-head {
    background: #8ec657;
    border-color: #8ec657;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
}
.widget.widget-2.primary .widget-head .heading {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.widget.widget-2.primary .widget-head .heading i:before {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.widget.widget-3:before,
.widget.widget-3:after {
    display: none;
}
.widget.widget-3 .widget-head {
    height: 36px;
    line-height: 36px;
}
.widget.widget-3 .widget-head .heading {
    display: block;
    text-align: center;
    float: none;
    line-height: 36px;
    height: 36px;
    text-transform: uppercase;
    font-size: 12pt;
}
.widget.widget-3 .widget-head .heading i:before {
    background: none;
    border: none;
    left: 3px;
    top: 5px;
    font-size: 20px;
    color: #45484d;
}
.widget.widget-3 .widget-body {
    border-bottom: 1px solid #d8d8d8;
}
.widget.widget-3 .widget-body.large {
    font-size: 26pt;
    font-weight: bold;
    text-align: center;
    padding: 25px 0;
    vertical-align: middle;
    line-height: normal;
}
.widget.widget-3 .widget-body.large.cancellations span {
    line-height: 20px;
    text-align: left;
    font-size: 17pt;
    display: inline-block;
    text-shadow: none;
}
.widget.widget-3 .widget-body.large.cancellations span span {
    display: block;
}
.widget.widget-3 .widget-body.large.cancellations span span:first-child {
    color: #8ec657;
    text-transform: uppercase;
    font-size: 13pt;
}
.widget.widget-3 .widget-body.large.dashboard {
    padding: 15px 0;
}
.widget.widget-3 .widget-footer {
    background: #fafafa;
    border-top: none;
}
.widget.widget-3 .widget-footer a {
    float: none;
    color: #dddddd;
    width: auto;
    padding: 0 10px 0 30px;
    border-right: 1px solid #d8d8d8;
    text-decoration: none;
}
.widget.widget-3 .widget-footer a i:before {
    color: #dddddd;
    left: 5px;
}
.widget.widget-3 .widget-footer a:hover {
    color: #8ec657;
}
.widget.widget-3 .widget-footer a:hover i:before {
    color: #8ec657;
}
.widget.widget-3 .widget-footer.align-center {
    text-align: center;
}
.widget.widget-3 .widget-footer.align-center a:first-child {
    border-left: 1px solid #d8d8d8;
}
.widget.widget-3 .widget-footer.align-right {
    text-align: right;
}
.widget.widget-3 .widget-footer.align-right a:first-child {
    border-left: 1px solid #d8d8d8;
}
.widget.widget-3 .widget-footer.align-right a:last-child {
    border-right: none;
}
.widget.widget-4 {
    border: none;
    background: none;
}
.widget.widget-4 .widget-head {
    background: none;
    padding: 10px;
    border: none;
}
.widget.widget-4 .widget-head .heading {
    color: #544f49;
    text-shadow: none;
    padding: 0;
    margin: 0;
}
.widget.widget-4 .widget-body {
    padding: 0 10px 10px;
    border: none;
}
.widget.widget-4 .widget-body.list ul li {
    padding: 0;
}
.widget-activity .widget-body {
    position: relative;
}
.widget-activity ul.tabs {
    display: block;
    float: left;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    position: relative;
    list-style: none;
    margin: 0;
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.widget-activity ul.tabs li {
    color: #7c7c7c;
    float: left;
    display: block;
    padding: 0;
    line-height: 30px;
    background: #fafafa;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    /*
                          box-shadow: 0 1px 0 0 #fff inset;
                          -moz-box-shadow: 0 1px 0 0 #fff inset;
                          -webkit-box-shadow: 0 1px 0 0 #fff inset;
    */

}
.widget-activity ul.tabs li:hover {
    background: #ffffff;
}
.widget-activity ul.tabs li.active {
    background: #64625f;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
}
.widget-activity ul.tabs li.active i:before {
    color: #fff;
}
.widget-activity ul.list {
    border-top: 1px solid #ebebeb;
    list-style: none;
    margin: 0 -15px;
    padding: 0;
}
.widget-activity ul.list li {
    height: 39px;
    line-height: 39px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding: 0 15px;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.widget-activity ul.list li:hover,
.widget-activity ul.list li.highlight {
    background: #f2f2f2;
    box-shadow: 0 1px 0 0 #ffffff inset;
    -moz-box-shadow: 0 1px 0 0 #ffffff inset;
    -webkit-box-shadow: 0 1px 0 0 #ffffff inset;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
}
.widget-activity ul.list li:hover .activity-icon i:before,
.widget-activity ul.list li.highlight .activity-icon i:before {
    color: #8ec657;
}
.widget-activity ul.list li > span {
    display: block;
    height: 39px;
    line-height: 39px;
    float: left;
    position: relative;
    overflow: hidden;
}
.widget-activity ul.list li > span.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 75%;
}
.widget-activity ul.list li > span.date {
    width: 40px;
    text-align: center;
}
.widget-activity ul.list li .activity-icon {
    width: 30px;
    height: 39px;
    padding: 0;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}
.widget-activity ul.list li .activity-icon i {
    height: 39px;
    display: block;
    position: relative;
}
.widget-activity ul.list li .activity-icon i:before {
    position: relative;
    top: 0;
    left: 0;
    color: #868686;
    font-size: 18px;
    line-height: 39px;
}
.widget-activity ul.list li.double {
    height: 45px;
    line-height: 45px;
}
.widget-activity ul.list li.double > span {
    height: 45px;
    line-height: 45px;
}
.widget-activity ul.list li.double > span.ellipsis {
    line-height: 15px;
    padding: 7px 0 0;
    font-weight: 600;
    font-size: 11px;
}
.widget-activity ul.list li.double > span .meta {
    display: block;
    line-height: 15px;
    font-weight: 400;
    color: #b7b7b7;
}
.widget-activity ul.list li.double > span .meta i:before {
    top: 1px;
    color: #b7b7b7;
}
.widget-activity ul.list li.double > span .meta span {
    font-style: italic;
}
.widget-activity ul.list li.double .activity-icon {
    margin-left: 0;
    height: 45px;
}
.widget-activity ul.list li.double .activity-icon i {
    height: 45px;
}
.widget-activity ul.list li.double .activity-icon i:before {
    line-height: 45px;
}
.widget-activity ul.list li.double:hover:after,
.widget-activity ul.list li.double.highlight:after {
    height: 45px;
    line-height: 45px;
}
.widget-activity .view-all {
    position: absolute;
    top: 18px;
    right: 15px;
}
.breadcrumb {
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    margin: 0;
    background: #64625f;
    color: #fff;
    font-size: 9pt;
}
.breadcrumb a {
    color: #fff;
    font-weight: 600;
}
.breadcrumb .divider {
    margin: 0 3px;
    width: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 10px;
}
.breadcrumb li {
    text-shadow: none;
}
.well {
    z-index: 1;
    position: relative;
    padding: 15px;
    margin: 0 0 10px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background: #fafafa;
    border-color: #d8d8d8;
}
.well.small {
    padding: 10px;
}
.well .popover {
    z-index: 2;
    font-size: 13px;
}
.well.dark {
    background: rgba(0, 0, 0, 0.2);
}
.well.white {
    background: #fff;
}
.widget.widget-tabs {
    border-color: #d8d8d8;
}
.widget.widget-tabs .tab-content {
    padding: 0;
}
.widget.widget-tabs .widget-head {
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f4f4', GradientType=0);
    border-color: #d8d8d8;
}
.widget.widget-tabs .widget-head ul {
    list-style: none;
    height: 35px;
    margin: 0;
    display: inline-block;
}
.widget.widget-tabs .widget-head ul li {
    height: 35px;
    line-height: 35px;
    float: left;
    display: block;
    border-right: 1px solid #d8d8d8;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.widget.widget-tabs .widget-head ul li a {
    width: auto;
    height: 35px;
    display: block;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    color: #7c7c7c;
    text-decoration: none;
}
.widget.widget-tabs .widget-head ul li a i:before {
    left: 5px;
    top: 3px;
    color: #9d9d9d;
    text-shadow: 0 1px 0 #ffffff;
}
.widget.widget-tabs .widget-head ul li.active {
    background: #64625f;
}
.widget.widget-tabs .widget-head ul li.active a {
    color: #fff;
}
.widget.widget-tabs .widget-head ul li.active a i:before {
    color: #fff;
    text-shadow: none;
}
.widget.widget-tabs-double > .widget-head {
    height: 40px;
}
.widget.widget-tabs-double > .widget-head ul {
    height: 40px;
}
.widget.widget-tabs-double > .widget-head ul li {
    height: 40px;
    line-height: 20px;
}
.widget.widget-tabs-double > .widget-head ul li a {
    height: 35px;
    padding: 5px 0 0;
}
.widget.widget-tabs-double > .widget-head ul li a span {
    display: block;
    line-height: 15px;
}
.widget.widget-tabs-double-2 {
    border: none;
}
.widget.widget-tabs-double-2 > .widget-head {
    border: 1px solid #d8d8d8;
    border-bottom: none;
    height: 70px;
}
.widget.widget-tabs-double-2 > .widget-head.border-bottom {
    border-bottom: 1px solid #d8d8d8;
}
.widget.widget-tabs-double-2 > .widget-head ul {
    height: 70px;
}
.widget.widget-tabs-double-2 > .widget-head ul li {
    height: 70px;
    line-height: 20px;
}
.widget.widget-tabs-double-2 > .widget-head ul li a {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
    height: 70px;
    padding: 5px 0 0;
    text-decoration: none;
    text-align: center;
}
.widget.widget-tabs-double-2 > .widget-head ul li a span {
    display: block;
    line-height: 30px;
}
.widget.widget-tabs-double-2 > .widget-head ul li.active {
    height: 70px;
    background: #ffffff;
}
.widget.widget-tabs-double-2 > .widget-head ul li.active a {
    color: #8ec657;
}
.widget.widget-tabs-double-2 > .widget-head ul li.active a i:before {
    color: #8ec657;
}
.widget.widget-tabs-double-2 > .widget-head ul li:hover {
    background: #ffffff;
}
.widget.widget-tabs-double-2 > .widget-head ul li:hover a {
    color: #8ec657;
}
.widget.widget-tabs-double-2 > .widget-head ul li:hover a i:before {
    color: #8ec657;
}
.widget.widget-tabs-double-2 .widget-body {
    padding: 0;
}
.widget.widget-tabs-double-2 .widget-body-regular {
    padding: 10px;
    border: 1px solid #d8d8d8;
}
.widget.widget-tabs-double-2 .widget-body-regular p:last-child {
    margin: 0;
}
.widget.widget-tabs-vertical .widget-head {
    border: none;
    height: auto;
    padding: 0;
}
.widget.widget-tabs-vertical .widget-head ul {
    display: block;
    height: auto;
}
.widget.widget-tabs-vertical .widget-head ul li {
    float: none;
    display: block;
    border-right: none;
    border-bottom: 1px solid #d8d8d8;
}
.widget.widget-tabs-vertical .widget-head ul li:last-child {
    border: none;
}
.widget.widget-tabs-vertical .widget-body {
    padding: 0;
}
.widget.widget-tabs-vertical .widget-body .tab-content {
    padding: 12px 15px;
    border-left: 1px solid #d8d8d8;
}
.tabsbar {
    height: 60px;
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f4f4', GradientType=0);
    box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -moz-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -webkit-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    position: relative;
    overflow: hidden;
    margin: 0 0 15px;
}
.tabsbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
}
.tabsbar ul li {
    float: left;
    display: block;
    height: 54px;
    border-right: 1px solid #d8d8d8;
    background: #fdfdfd;
    padding: 3px;
}
.tabsbar ul li a {
    display: block;
    height: 54px;
    line-height: 54px;
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f4f4', GradientType=0);
    padding: 0 15px;
    color: #7c7c7c;
    text-decoration: none;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
}
.tabsbar ul li a i {
    display: inline-block;
    float: left;
    width: 39px;
    height: 54px;
}
.tabsbar ul li a i:before {
    color: #7c7c7c;
    position: relative;
    top: auto;
    left: auto;
    line-height: 54px;
    text-align: center;
}
.tabsbar ul li.active a {
    background-color: #a5d279;
    background-image: -moz-linear-gradient(top, #b4d990, #8ec657);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4d990), to(#8ec657));
    background-image: -webkit-linear-gradient(top, #b4d990, #8ec657);
    background-image: -o-linear-gradient(top, #b4d990, #8ec657);
    background-image: linear-gradient(to bottom, #b4d990, #8ec657);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb4d990', endColorstr='#ff8ec657', GradientType=0);
    color: #fff;
}
.tabsbar ul li.active a i:before {
    color: #fff;
}
.tabsbar.tabsbar-2 {
    height: 39px;
}
.tabsbar.tabsbar-2 ul {
    height: 39px;
}
.tabsbar.tabsbar-2 ul li {
    border-right: 1px solid #d8d8d8;
    height: 39px;
    padding: 0;
    background: none;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.tabsbar.tabsbar-2 ul li a {
    height: 39px;
    line-height: 39px;
    background: none;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.tabsbar.tabsbar-2 ul li a i {
    height: 39px;
    width: 33px;
}
.tabsbar.tabsbar-2 ul li a i:before {
    line-height: 39px;
    font-size: 20px;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}
.tabsbar.tabsbar-2 ul li.active {
    background: #fff;
}
.tabsbar.tabsbar-2 ul li.active a {
    color: #8ec657;
}
.tabsbar.tabsbar-2 ul li.active a i:before {
    color: #8ec657;
}
.tabsbar.tabsbar-2 ul li:not(.active):hover a {
    color: #8ec657;
}
.tabsbar.tabsbar-2 ul li:not(.active):hover a i:before {
    color: #8ec657;
}
.tabsbar.tabsbar-2.active-fill ul li.active a {
    background: #8ec657;
    color: #fff;
}
.tabsbar.tabsbar-2.active-fill ul li.active a i:before {
    color: #fff;
}
.tab-content {
    overflow: visible;
    padding: 0;
}
.btn {
    font-weight: 600;
}
.btn-block {
    width: 100%;
}
.btn + .btn:not(.btn-block) {
    margin: 0 0 0 5px;
}
.btn-group .btn + .btn:not(.btn-block) {
    margin: 0;
}
.btn-default {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 0 #fff;
    font-weight: 600;
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #f4f4f4, #e7e7e7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e7e7e7);
    background-image: -o-linear-gradient(top, #f4f4f4, #e7e7e7);
    background-image: linear-gradient(to bottom, #f4f4f4, #e7e7e7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffe7e7e7', GradientType=0);
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 0 #ffffff inset, 0 0 0 1px #cecece;
    -moz-box-shadow: 0 1px 0 0 #ffffff inset, 0 0 0 1px #cecece;
    -webkit-box-shadow: 0 1px 0 0 #ffffff inset, 0 0 0 1px #cecece;
}
.btn-group.open .btn-default.dropdown-toggle,
.btn-default.disabled,
.btn-default[disabled],
.btn-default:hover,
.btn-default:focus {
    background: #e8e8e8;
}
.btn-default:active,
.btn-default.active {
    background: #e8e8e8;
    color: #fff;
    text-shadow: none;
}
.btn-default .caret {
    border-top-color: rgba(0, 0, 0, 0.5);
}
.btn-warning {
    background-color: #b6895e;
    background-image: -moz-linear-gradient(top, #be946b, #ab7a4b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#be946b), to(#ab7a4b));
    background-image: -webkit-linear-gradient(top, #be946b, #ab7a4b);
    background-image: -o-linear-gradient(top, #be946b, #ab7a4b);
    background-image: linear-gradient(to bottom, #be946b, #ab7a4b);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbe946b', endColorstr='#ffab7a4b', GradientType=0);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #88613b;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #88613b;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #88613b;
    border: 1px solid #ab7a4b;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-group.open .btn-warning.dropdown-toggle,
.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning:hover,
.btn-warning:focus {
    background: #ab7a4b;
    color: #fff;
}
.btn-warning:active,
.btn-warning.active {
    background: #ab7a4b;
    color: #fff;
}
.btn-warning .caret {
    border-top-color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-info {
    background: #93B9D8;
    border: 1px solid #93B9D8;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-group.open .btn-info.dropdown-toggle,
.btn-info.disabled,
.btn-info[disabled],
.btn-info:hover,
.btn-info:focus {
    background: #93B9D8;
    color: #fff;
}
.btn-info:active,
.btn-info.active {
    background: #93B9D8;
    color: #fff;
}
.btn-info .caret {
    border-top-color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-danger {
    background-color: #ca4741;
    background-image: -moz-linear-gradient(top, #d3534c, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d3534c), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #d3534c, #bd362f);
    background-image: -o-linear-gradient(top, #d3534c, #bd362f);
    background-image: linear-gradient(to bottom, #d3534c, #bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd3534c', endColorstr='#ffbd362f', GradientType=0);
    border: 1px solid #bd362f;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #942a25;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #942a25;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #942a25;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-group.open .btn-danger.dropdown-toggle,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger:hover,
.btn-danger:focus {
    background: #bd362f;
    color: #fff;
}
.btn-danger:active,
.btn-danger.active {
    background: #bd362f;
    color: #fff;
}
.btn-danger .caret {
    border-top-color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(255, 255, 255, 0.7);
}
.btn-primary {
    background-color: #8ec657;
    background-image: -moz-linear-gradient(top, #a8d37d, #8ec657);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a8d37d), to(#8ec657));
    background-image: -webkit-linear-gradient(top, #a8d37d, #8ec657);
    background-image: -o-linear-gradient(top, #a8d37d, #8ec657);
    background-image: linear-gradient(to bottom, #a8d37d, #8ec657);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8d37d', endColorstr='#ff8ec657', GradientType=0);
    border: 1px solid #8ec657;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #74af3b;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #74af3b;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #74af3b;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-group.open .btn-primary.dropdown-toggle,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:hover,
.btn-primary:focus {
    background: #8ec657;
    color: #fff;
}
.btn-primary:active,
.btn-primary.active {
    background: #8ec657;
    color: #fff;
}
.btn-primary .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.btn-inverse {
    background-color: #53575d;
    background-image: -moz-linear-gradient(top, #5d6168, #45484d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5d6168), to(#45484d));
    background-image: -webkit-linear-gradient(top, #5d6168, #45484d);
    background-image: -o-linear-gradient(top, #5d6168, #45484d);
    background-image: linear-gradient(to bottom, #5d6168, #45484d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5d6168', endColorstr='#ff45484d', GradientType=0);
    border: 1px solid #45484d;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #2d2f32;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #2d2f32;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #2d2f32;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-group.open .btn-inverse.dropdown-toggle,
.btn-inverse.disabled,
.btn-inverse[disabled],
.btn-inverse:hover,
.btn-inverse:focus {
    background: #45484d;
    color: #fff;
}
.btn-inverse:active,
.btn-inverse.active {
    background: #45484d;
    color: #fff;
}
.btn-inverse .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.btn-success {
    background-color: #6fa45f;
    background-image: -moz-linear-gradient(top, #79ae69, #609450);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79ae69), to(#609450));
    background-image: -webkit-linear-gradient(top, #79ae69, #609450);
    background-image: -o-linear-gradient(top, #79ae69, #609450);
    background-image: linear-gradient(to bottom, #79ae69, #609450);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff79ae69', endColorstr='#ff609450', GradientType=0);
    border: 1px solid #609450;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #4b733e;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #4b733e;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px #4b733e;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.btn-group.open .btn-success.dropdown-toggle,
.btn-success.disabled,
.btn-success[disabled],
.btn-success:hover,
.btn-success:focus {
    background: #609450;
    color: #fff;
}
.btn-success:active,
.btn-success.active {
    background: #609450;
    color: #fff;
}
.btn-success .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.btn-group .btn-primary:not(.dropdown-toggle) {
    margin-right: 2px;
}
.btn-group-vertical.block {
    display: block;
}
.btn-group.btn-block {
    padding: 0;
    position: relative;
}
.btn-group.btn-block .leadcontainer {
    left: 0;
    position: absolute;
    right: 29px;
}
.btn-group.btn-block .leadcontainer > .btn:first-child {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    margin-left: 0;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    text-align: left;
}
.btn-group.btn-block .dropdown-lead {
    box-sizing: border-box;
    width: 100%;
}
.btn-group.btn-block .dropdown-toggle {
    width: 30px;
    float: right;
    box-sizing: border-box;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.btn-toggle-code {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.btn-toggle-code.outside {
    bottom: -24px;
}
.form-inline.small input,
.form-inline.small select {
    margin: 0 5px 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    padding: 1px 5px;
    border-color: #d8d9da;
    color: #a7a7a7;
}
.form-inline.small select {
    padding: 1px 0;
    height: 23px;
}
.form-inline.small select:last-child {
    margin-right: 0;
}
.form-inline.small label {
    float: left;
    margin: 0 5px 0 0;
    display: block;
}
.form-inline.small .input-append.block {
    display: block;
}
.form-inline.small .input-append input {
    margin: 0;
    width: 85%;
}
.form-inline.small .input-append .add-on {
    padding: 1px 3px;
    margin: 0 0 0 -1px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background: #fff;
    color: #d8d9da;
    border-color: #d8d9da;
}
.form-inline.small .input-append .add-on i:before {
    top: 4px;
    left: 4px;
    font-size: 14px;
    color: #d0d1d1;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #c1c1c1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    font-size: 13px;
}
.uniformjs .radio {
    height: auto;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: 3px;
}
.checkbox.inline {
    padding-bottom: 1px;
}
label,
input,
button,
select,
textarea {
    font-size: 13px;
}
.input-full input {
    width: 83%;
    height: 17px;
}
legend {
    line-height: normal;
    height: auto;
    font-size: 18px;
    margin: 0 0 6px;
    text-align: left;
    padding: 0;
    border: 0;
    color: #797979;
}
.btn-group > .btn,
.btn-group > .dropdown-menu {
    font-size: 13px;
}
.strong {
    font-weight: bold;
}
input[type=text],
input[type=password],
select,
textarea {
    border-color: #D8D9DA;
    color: #000;
}
.control-label.center {
    text-align: center;
}
.form-actions {
    background: none;
    border: none;
    margin: 0;
}
.form-horizontal .form-actions {
    margin-top: 0;
    padding: 0;
}
.form-horizontal .controls {
    margin-left: 145px;
}
.form-horizontal .control-label {
    width: 140px;
}
.form-horizontal .control-group:last-child {
    margin: 0;
}
.input-prepend .add-on,
.input-append .add-on {
    background: #fff;
}
.input-prepend .add-on i:before,
.input-append .add-on i:before {
    color: #D0D1D1;
}
.input-prepend .add-on icon,
.input-append .add-on icon {
    margin-top: 0;
}
.select2-container img.flag,
.select2-drop img.flag {
    height: 10px;
    width: 15px;
    padding-right: 10px;
}

.table {
    margin: 0;
    position: relative;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.table.table-white {
    background: #fff;
}
.table th,
.table td {
    border-top-color: #ebebeb;
}
.table td.center,
.table th.center {
    text-align: center;
}
.table td.right,
.table th.right {
    text-align: right;
}
.table-condensed {
    font-size: 10pt;
}
.table-condensed th,
.table-condensed td {
    padding: 4px 10px;
}
.table-borderless th,
.table-borderless td {
    border: none;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #fafafa;
}
.table-bordered {
    border-color: #d8d8d8;
    box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -moz-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -webkit-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
}
.table-bordered th,
.table-bordered td {
    border-color: #d8d8d8;
}
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child,
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child,
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.table-fill td {
    background: #F8F8F8;
}
.table .progress:last-child,
.table .alert:last-child {
    margin: 0;
}
.table .shortRight {
    width: 25%;
    text-align: right;
    direction: rtl;
    text-indent: 10px;
}
.table-large-spacing td {
    padding: 20px 15px;
}
.table .thead td {
    padding: 8px;
    font-weight: bold;
}
.table-vertical-center td,
.table-vertical-center th {
    vertical-align: middle;
}
.table-thead-simple thead th {
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ebebeb;
    color: #7c7c7c;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    text-shadow: none;
    text-transform: none;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.table-thead-simple.table-thead-border-none {
    border-top: none;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.table-thead-simple.table-thead-border-none thead th {
    border-bottom: none;
}
.table-thead-simple.table-thead-border-none thead:first-child tr:first-child > th:last-child,
.table-thead-simple.table-thead-border-none tbody:first-child tr:first-child > td:last-child,
.table-thead-simple.table-thead-border-none tbody:first-child tr:first-child > th:last-child {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.table-primary {
    border-color: #d8d8d8;
    border-top: none;
}
.table-primary thead th {
    border-color: #8ec657;
    background-color: #8ec657;
    color: #fff;
    font-size: 14px;
}
.table-primary tbody td {
    color: #7c7c7c;
    background: #fafafa;
    border-width: 0px;
}
.table-primary tbody td.important {
    color: #8ec657;
    font-weight: 600;
}
.table-primary tbody td.actions {
    padding-right: 1px;
}
.table-primary.table-bordered tbody td {
    border-color: #d8d8d8;
    border-width: 1px;
    /*
                          box-shadow: 0 0 0 1px #fff inset;
                          -webkit-box-shadow: 0 0 0 1px #fff inset;
                          -moz-box-shadow: 0 0 0 1px #fff inset;
    */

}
.table-primary tbody tr:nth-child(odd) td,
.table-primary tbody tr:nth-child(odd) th {
    background: #ffffff;
}
.table-primary tbody tr.selectable td {
    cursor: pointer;
}
.table-primary tbody tr.selected td,
.table-primary tbody tr.selectable:hover td {
    background: #cbcbcb;
    box-shadow: 0 0 0 1px #a5a5a5 inset;
    -webkit-box-shadow: 0 0 0 1px #a5a5a5 inset;
    -moz-box-shadow: 0 0 0 1px #a5a5a5 inset;
}
.table-pricing th,
.table-pricing td {
    padding: 10px;
}
.table-pricing .plan {
    font-weight: 600;
    font-size: 14px;
    display: block;
}
.table-pricing .price {
    font-weight: 600;
    font-size: 24px;
    display: block;
}
.table-pricing .heading {
    font-weight: 600;
    font-size: 24px;
    vertical-align: middle;
}
.table-pricing-2 th {
    padding: 12px 0;
    background: #64625f;
    font-size: 14px;
    color: #fff;
    border-color: #5a5855;
}
.table-pricing-2 .pricing td {
    padding: 12px 10px 10px;
    background: #e5e5e5;
    border-color: #cecece;
}
#DataTables_Table_0_filter {
    text-align: right;
}
#DataTables_Table_0_length select {
    width: 80px;
}
#DataTables_Table_0_info {
    padding: 20px 0;
}
.dataTables_paginate {
    text-align: right;
}
@media only screen and (max-width: 979px) {
    .table-responsive.swipe-horizontal {
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        width: 100%;
        border-left: 1px solid #DDD;
    }
    .table-responsive.swipe-horizontal th,
    .table-responsive.swipe-horizontal td {
        display: block;
        margin: 0;
        vertical-align: top;
    }
    .table-responsive.swipe-horizontal th {
        text-align: right;
        border-bottom: 0;
        border-left: 0;
    }
    .table-responsive.swipe-horizontal td {
        min-height: 1.25em;
        text-align: left;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        border-top: 0;
    }
    .table-responsive.swipe-horizontal thead {
        display: block;
        float: left;
    }
    .table-responsive.swipe-horizontal thead tr {
        display: block;
    }
    .table-responsive.swipe-horizontal tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
        word-spacing: 0;
        letter-spacing: 0;
        font-size: 0;
    }
    .table-responsive.swipe-horizontal tbody tr {
        display: inline-block;
        vertical-align: top;
        border-left: 1px solid #e5e5e5;
    }
    .table-responsive.block {
        /* Force table to not be like tables anymore */

        /* Hide table headers (but not display: none;, for accessibility) */

        /* Label the data */

    }
    .table-responsive.block table,
    .table-responsive.block thead,
    .table-responsive.block tbody,
    .table-responsive.block th,
    .table-responsive.block td,
    .table-responsive.block tr {
        display: block;
    }
    .table-responsive.block thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-responsive.block tr {
        border: 1px solid #e5e5e5;
    }
    .table-responsive.block td {
        /* Behave  like a "row" */

        border: none;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    .table-responsive.block td:before {
        /* Now like a table header */

        position: absolute;
        /* Top/left values mimic padding */

        vertical-align: middle;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: right;
        font-weight: bold;
    }
    .table-responsive.block td:before {
        content: attr(data-title);
    }
}
.table-invoice td {
    border: none;
    padding: 0;
}
.label.large {
    height: 29px;
    padding: 0 10px;
    line-height: 29px;
    background: #e5e5e5;
    color: #64625f;
    text-shadow: 0 1px 0 #fff;
}
.label.label-primary {
    background: #8ec657;
}
.label.label-warning {
    background: #ab7a4b;
}
.label.label-important {
    background: #bd362f;
}
.label.label-success {
    background: #609450;
}
.label.label-block {
    display: block;
}
.alert {
    margin: 0 0 10px;
    color: #fff;
    border-color: #ab7a4b;
    background: #ab7a4b;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.alert h4 {
    margin: 0 0 5px;
    color: #fff;
}
.alert.alert-error {
    background: #bd362f;
    color: #fff;
    border-color: #bd362f;
}
.alert.alert-error .close {
    color: #fff;
}
.alert.alert-error h4 {
    color: #fff;
}
.alert.alert-primary {
    background: #8ec657;
    color: #fff;
    border-color: #8ec657;
}
.alert.alert-primary .close {
    color: #fff;
}
.alert.alert-primary h4 {
    color: #fff;
}
.alert.alert-info {
    background: #dff3f8;
    color: #7399b9;
    border-color: #93b9d8;
}
.alert.alert-info .close {
    color: #7399b9;
}
.alert.alert-success {
    border-color: #609450;
    background: #609450;
    color: #fff;
}
.alert.alert-success .close,
.alert.alert-success h4 {
    color: #fff;
}
.alert .close {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #fff;
}
.progress {
    background: #ffffff;
    margin: 0 0 10px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.progress .bar {
    background: #e8e8e8;
}
.progress .bar.right {
    text-align: right;
    text-indent: 10px;
    direction: rtl;
}
.progress.white {
    background: #fff;
}
.progress.progress-info .bar {
    background: #93b9d8;
}
.progress.progress-success .bar {
    background: #609450;
}
.progress.progress-warning .bar {
    background: #ab7a4b;
}
.progress.progress-primary .bar {
    background: #8ec657;
}
.progress.progress-danger .bar {
    background: #bd362f;
}
.progress.progress-inverse .bar {
    background: #45484d;
}
.progress.progress-small {
    height: 15px;
}
.progress.progress-small .bar {
    font-size: 8px;
    line-height: 15px;
}
.progress.progress-small .bar.right {
    text-indent: 2px;
}
.progress.progress-mini {
    height: 5px;
}
.accordion {
    margin: 0 0 10px;
    position: relative;
}
.accordion .accordion-group {
    border-color: #d8d8d8;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -moz-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -webkit-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
}
.accordion .accordion-inner {
    font-size: 13px;
    background: #ffffff;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    border-color: #d8d8d8;
}
.accordion .accordion-heading .accordion-toggle {
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f4f4f4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
    background-image: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f4f4', GradientType=0);
    color: #7c7c7c;
    text-decoration: none;
    font-weight: 600;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    height: 29px;
    padding: 0 10px;
    line-height: 29px;
}
.accordion.accordion-2 {
    border: 1px solid #d8d8d8;
}
.accordion.accordion-2 .accordion-heading .accordion-toggle {
    border-bottom: 1px solid #d8d8d8;
    background: #ffffff;
    height: 38px;
    line-height: 38px;
}
.accordion.accordion-2 .accordion-body.in {
    border-bottom: 1px solid #d8d8d8;
}
.accordion.accordion-2 .accordion-group {
    border: none;
    margin: 0;
}
.accordion.accordion-2 .accordion-group:last-child .accordion-body.in {
    border-top: 1px solid #d8d8d8;
}
.accordion.accordion-2 .accordion-inner {
    border: none;
}
.pagination ul {
    background: #ffffff;
    box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -moz-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -webkit-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
}
.pagination ul > li > a:hover {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2) inset;
}
.pagination ul > li > a:hover,
.pagination ul > li.primary > a {
    border-color: #a8d37d;
    background: #8ec657;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.pagination ul > .active > a,
.pagination ul > .active > span {
    border-color: #8ec657;
    background: #8ec657;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2) inset;
}
.pagination ul > li > a,
.pagination ul > li > span {
    border-color: #d8d8d8;
    background: #ffffff;
}
.pagination ul > .primary.disabled > a,
.pagination ul > .disabled > a,
.pagination ul > .disabled > span {
    border-color: #d8d8d8;
    background: #ffffff;
    color: #dddddd;
    font-weight: 600;
    text-shadow: none;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.pagination ul > .disabled > a:hover {
    border-color: #d8d8d8;
    background: #ffffff;
    color: #dddddd;
    text-shadow: none;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.ui-widget-header {
    border-color: #8ec657;
    background: #8ec657;
    color: #fff;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #fafafa;
    border-color: #dddddd;
    color: #797979;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: #8ec657;
    color: #fff;
}
.ui-widget-content {
    border: none;
}
.ui-datepicker-inline {
    width: 100%;
    padding: 0;
}
.datepicker-inline {
    margin: 0 0 5px;
}
.login {
    background: #fafafa;
}
.login #login {
    padding: 30px 0 0;
}
.login #login h1 {
    font-size: 20pt;
    color: #8ec657;
    text-align: center;
    display: block;
    padding: 0 0 20px;
    text-shadow: 0 1px 0 #ffffff;
}
.login #login h1 i:before {
    position: relative;
    left: auto;
    top: auto;
    color: #7c7c7c;
}
.login #login .wrapper {
    max-width: 354px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
}
.login #login .widget .widget-head {
    padding: 0 5px 0 0;
}
.login #login .widget .widget-head .btn {
    margin: -4px 0 0 5px;
}
.login #login .widget .widget-head div {
    font-size: 12px;
}
.login #login label {
    font-size: 13px;
    color: #7c7c7c;
    font-weight: 600;
}
.login #login .checkbox {
    margin-top: 5px;
}
.login #login .password {
    float: right;
    font-size: 12px;
    font-weight: 400;
}
.login #login input[type="text"],
.login #login input[type="password"] {
    font-size: 13px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px 9px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background: #fff;
}
.login #login ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc;
}
.login #login :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}
.login #login ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
}
.login #login :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc;
}
.login #login form {
    margin: 0;
}
.login #login p {
    margin: 5px 0;
}
.login #login p:first-child {
    margin: 0 0 10px;
}
.login #login p:last-child {
    margin: 10px 0 0;
}
.login #login .form-signin {
    position: relative;
    max-width: 600px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.login #login .form-signin .inner {
    padding: 20px;
}
.thumb {
    display: block;
    padding: 3px;
    border: 1px solid #ebebeb;
}
.thumbnails {
    margin: 0;
}
.thumbnails > li {
    margin-bottom: 10px;
}
.thumbnails > li .thumbnail {
    border-color: #d8d8d8;
    background: #ffffff;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.thumbnails > li .thumbnail .caption {
    color: #7c7c7c;
}
.thumbnails > li a.thumbnail:hover,
.thumbnails > li a.thumbnail:focus {
    border-color: #8ec657;
    -webkit-box-shadow: 0 1px 4px rgba(142, 198, 87, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(142, 198, 87, 0.25);
    box-shadow: 0 1px 4px rgba(142, 198, 87, 0.25);
    text-decoration: none;
}
.thumbnail {
    border-color: #d8d8d8;
}
a.thumbnail .caption {
    display: block;
}
a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #8ec657;
    -webkit-box-shadow: 0 1px 4px rgba(142, 198, 87, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(142, 198, 87, 0.25);
    box-shadow: 0 1px 4px rgba(142, 198, 87, 0.25);
    text-decoration: none;
}
.container-960 {
    width: 960px;
    margin: 0 auto;
}
.separator-line {
    width: 100%;
    height: 1px;
    background: #d8d8d8;
    margin-bottom: 10px;
}
.lt-ie9 .widget .widget-body.list ul li {
    border-bottom: 1px solid #efefef;
}
@media (max-width: 979px) {
    body > .container-fluid.fixed {
        width: auto;
        border: none;
        margin: 0;
    }
}
@media (max-width: 767px) {
    body {
        padding: 0;
    }
    .nav-tabs > li > a {
        font-size: 10pt;
    }
    .nav-tabs > li > a,
    .nav-pills > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .documentation .span3 .menu.affix {
        position: relative;
        top: 0;
        width: auto;
    }
    .phone-margin.bottom {
        margin: 0 0 10px;
    }
    .well {
        padding: 5px;
    }
    .widget .widget-body {
        padding: 5px;
    }
    .widget.margin-bottom-none {
        margin-bottom: 10px;
    }
    .widget.widget-tabs .widget-head {
        height: auto;
        padding: 0;
    }
    .widget.widget-tabs .widget-head ul {
        display: block;
        border-right: none;
        height: auto;
    }
    .widget.widget-tabs .widget-head ul li {
        float: none;
        display: block;
        width: 100%;
    }
    .widget-activity ul.list li > span.ellipsis {
        max-width: 60%;
    }
    .widget-activity ul.list li.double > span.ellipsis {
        max-width: 75%;
    }
    .widget-stats:not(.widget-sidebar-stats),
    .widget-stats:not(.widget-sidebar-stats).margin-bottom-none {
        margin: 0 0 10px;
    }
    .widget-gallery .nav {
        display: none;
    }
    .widget-gallery.widget-gallery-slide .gallery {
        width: auto;
    }
    .widget-chat .media .media-object.pull-left:after,
    .widget-chat .media .media-object.pull-right:after {
        display: none;
    }
    .widget-chat .media .pull-left,
    .widget-chat .media .pull-right {
        margin: 0;
    }
    .widget-chat .media .media-body {
        border: none !important;
        border-top: 3px solid #8ec657 !important;
    }
    .widget-chat .chat-controls {
        height: 60px;
    }
    .widget-chat {
        padding-bottom: 100px !important;
    }
    .tabsbar,
    .tabsbar.tabsbar-2 {
        height: auto;
    }
    .tabsbar ul,
    .tabsbar.tabsbar-2 ul {
        height: auto;
    }
    .media {
        text-align: center;
    }
    .media img.pull-left,
    .media img.pull-right {
        display: inline-block;
    }
    .media blockquote {
        padding: 0;
        text-align: center;
    }
    .media blockquote.pull-right p,
    .media blockquote.pull-right small {
        text-align: center;
    }
    .menu-right #menu {
        left: 0;
        right: auto;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
        -webkit-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
        border-left: none;
        border-right: 1px solid #adafb1;
    }
    .menu-right #content {
        margin: 0 0 0 204px;
    }
    .menu-right.menu-hidden #content {
        margin: 0;
    }
    .row-merge > [class*="span"] ~ [class*="span"] {
        width: auto;
    }
    .row-merge > [class*="span"] ~ [class*="span"]:after {
        display: none;
    }
    .row-merge.border-top,
    .row-merge ~ .row-merge {
        border-top: 1px solid #e5e5e5;
    }
    .login #login {
        padding: 50px 5px;
    }
    #gritter-notice-wrapper {
        display: none !important;
    }
    .topnav .dropdown.submenu {
        height: auto;
    }
    .topnav .dropdown.submenu .submenu-show {
        position: relative;
        margin: 0 !important;
        top: auto !important;
        left: auto !important;
        right: auto !important;
    }
    .navbar.main,
    .navbar.main.navbar-hidden {
        height: 33px;
    }
    .navbar.main .wrapper,
    .navbar.main.navbar-hidden .wrapper {
        display: block;
    }
    .navbar.main .toggle-navbar,
    .navbar.main.navbar-hidden .toggle-navbar {
        display: none;
    }
    .tickertape {
        height: auto;
        padding: 0;
    }
    .tickertape .title {
        width: auto;
        float: none;
        position: relative;
    }
    .tickertape .marquee {
        margin: 0 5px 5px;
    }
    .container-960 {
        width: auto;
    }
}
@media (max-width: 480px) {
    h1,
    h2,
    h3 {
        line-height: 30px;
        font-size: 18pt;
    }
    .separator {
        padding: 5px 0;
        margin: 0;
    }
    .table-condensed th,
    .table-condensed td {
        padding: 4px 5px;
    }
}
@media (max-width: 320px) {
    .nav-tabs > li,
    .nav-tabs > li > a,
    .nav-tabs > li > a:hover {
        display: block;
        float: none;
        margin: 0 0 -1px;
        border-color: #8ec657;
    }
    .nav-tabs > li:hover {
        border-color: #8ec657;
    }
    .nav-tabs > li,
    .nav-tabs > li > a {
        border-color: #E0D5C6;
        background: #F5EADB;
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
}
@media (max-width: 979px) and (min-width: 768px) {
    .widget-stats {
        padding: 36px 0;
    }
    .widget.widget-3 .widget-head {
        padding: 0;
    }
    .widget.widget-3 .widget-head .heading {
        font-size: 13px;
        overflow: hidden;
        padding: 0;
    }
    .widget.widget-3 .widget-head .heading i:before {
        font-size: 14px;
        left: 0;
        top: 3px;
    }
}

table.dynamicTable.table {
    clear: both;
    margin-bottom: 0 !important;
    max-width: none !important;
}
table.dataTable th:active {
    outline: none;
}

#menu .slim-scroll > ul.menu-0,
#menu > ul.menu-0 {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background: #f2f3f4;
    border-top: 1px solid #d8d8d8;
}
#menu .slim-scroll > ul.menu-0.affix,
#menu > ul.menu-0.affix {
    top: 0;
    width: 203px;
    z-index: 1000;
}
#menu .slim-scroll > ul.menu-0 > li,
#menu > ul.menu-0 > li {
    display: block;
    height: 41px;
    line-height: 41px;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 1px 0 0 #fafafb;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#menu .slim-scroll > ul.menu-0 > li .count,
#menu > ul.menu-0 > li .count {
    display: inline-block;
    background: #fafafb;
    color: #7c7c7c;
    text-shadow: 0 1px 0 #ffffff;
    font-weight: 700;
    font-size: 10px;
    padding: 1px 8px;
    position: absolute;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    top: 12px;
    right: 15px;
    line-height: normal;
    border: 1px solid #fafafb;
    box-shadow: 0 0 0 1px #e1e5e9 inset;
}
#menu .slim-scroll > ul.menu-0 > li a,
#menu > ul.menu-0 > li a {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    height: 41px;
    line-height: 41px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #7c7c7c;
    text-shadow: 0 1px 0 #ffffff;
}
#menu .slim-scroll > ul.menu-0 > li a:hover,
#menu > ul.menu-0 > li a:hover {
    background-color: #f4f5f5;
    background-image: -moz-linear-gradient(top, #fafbfb, #ececec);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafbfb), to(#ececec));
    background-image: -webkit-linear-gradient(top, #fafbfb, #ececec);
    background-image: -o-linear-gradient(top, #fafbfb, #ececec);
    background-image: linear-gradient(to bottom, #fafbfb, #ececec);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafbfb', endColorstr='#ffececec', GradientType=0);
}
#menu .slim-scroll > ul.menu-0 > li.active,
#menu > ul.menu-0 > li.active {
    position: relative;
    overflow: visible;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 #fafafb;
}
#menu .slim-scroll > ul.menu-0 > li.active > a,
#menu > ul.menu-0 > li.active > a {
    background-color: #9dce6e;
    background-image: -moz-linear-gradient(top, #a8d37d, #8ec657);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a8d37d), to(#8ec657));
    background-image: -webkit-linear-gradient(top, #a8d37d, #8ec657);
    background-image: -o-linear-gradient(top, #a8d37d, #8ec657);
    background-image: linear-gradient(to bottom, #a8d37d, #8ec657);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8d37d', endColorstr='#ff8ec657', GradientType=0);
    color: #fff;
    box-shadow: 0 1px 0 0 #a8d37d inset;
    text-shadow: 0 1px 0 #5b892e;
    border: 1px solid #689c35;
    height: 40px;
    line-height: 40px;
}
#menu .slim-scroll > ul.menu-0 > li.active > a:hover,
#menu > ul.menu-0 > li.active > a:hover {
    background: #8ec657;
}
#menu .slim-scroll > ul.menu-0 > li.active.glyphicons a i:before,
#menu > ul.menu-0 > li.active.glyphicons a i:before {
    color: #fff;
}
#menu .slim-scroll > ul.menu-0 > li.glyphicons > a,
#menu > ul.menu-0 > li.glyphicons > a {
    padding: 0 0 0 45px;
}
#menu .slim-scroll > ul.menu-0 > li.glyphicons > a i:before,
#menu > ul.menu-0 > li.glyphicons > a i:before {
    font-size: 17px;
    color: #7c7c7c;
    top: 12px;
    left: 15px;
}
#menu .slim-scroll > ul.menu-0 > li.hasSubmenu,
#menu > ul.menu-0 > li.hasSubmenu,
#menu .slim-scroll > ul.menu-0 > li .hasSubmenu,
#menu > ul.menu-0 > li .hasSubmenu {
    position: relative;
}
#menu .slim-scroll > ul.menu-0 > li.hasSubmenu.active,
#menu > ul.menu-0 > li.hasSubmenu.active {
    height: auto;
    background: #7c7c7c;
    padding: 0;
    box-shadow: 0 1px 0 0 #fafafb;
}
#menu .slim-scroll > ul.menu-0 > li.hasSubmenu.active > a,
#menu > ul.menu-0 > li.hasSubmenu.active > a {
    background-color: #f4f5f5;
    background-image: -moz-linear-gradient(top, #fafbfb, #ececec);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafbfb), to(#ececec));
    background-image: -webkit-linear-gradient(top, #fafbfb, #ececec);
    background-image: -o-linear-gradient(top, #fafbfb, #ececec);
    background-image: linear-gradient(to bottom, #fafbfb, #ececec);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafbfb', endColorstr='#ffececec', GradientType=0);
    border: none;
    box-shadow: none;
    text-shadow: 0 1px 0 #ffffff;
    color: #7c7c7c;
}
#menu .slim-scroll > ul.menu-0 > li.hasSubmenu.active > a i:before,
#menu > ul.menu-0 > li.hasSubmenu.active > a i:before {
    color: #7c7c7c;
}
#menu .slim-scroll > ul.menu-0 > li.heading,
#menu > ul.menu-0 > li.heading {
    height: 25px;
    line-height: 25px;
}
#menu .slim-scroll > ul.menu-0 > li.heading span,
#menu > ul.menu-0 > li.heading span {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 9pt;
    text-transform: uppercase;
}
#menu .slim-scroll > ul.menu-0 li.active:not(.hasSubmenu) + li > a:hover,
#menu > ul.menu-0 li.active:not(.hasSubmenu) + li > a:hover {
    -webkit-box-shadow: inset 0 4px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 4px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 4px 2px 0 rgba(0, 0, 0, 0.1);
}
#menu .slim-scroll > ul.menu-0 li.active:not(.hasSubmenu) + li.hasSubmenu.active > a,
#menu > ul.menu-0 li.active:not(.hasSubmenu) + li.hasSubmenu.active > a {
    -webkit-box-shadow: inset 0 4px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 4px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 4px 2px 0 rgba(0, 0, 0, 0.1);
}
#menu .slim-scroll > ul.menu-0 ul,
#menu > ul.menu-0 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu .slim-scroll > ul.menu-0 ul li,
#menu > ul.menu-0 ul li {
    height: auto;
    border-bottom: 1px solid #6e6e6e;
}
#menu .slim-scroll > ul.menu-0 ul li:first-child,
#menu > ul.menu-0 ul li:first-child {
    border-top: 1px solid #3e3e3e;
}
#menu .slim-scroll > ul.menu-0 ul li:first-child > a,
#menu > ul.menu-0 ul li:first-child > a {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 0 #888888 inset;
}
#menu .slim-scroll > ul.menu-0 ul li:last-child,
#menu > ul.menu-0 ul li:last-child {
    border-bottom: 1px solid #3e3e3e;
}
#menu .slim-scroll > ul.menu-0 ul li:last-child > a,
#menu > ul.menu-0 ul li:last-child > a {
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 0 #888888 inset;
}
#menu .slim-scroll > ul.menu-0 ul li a,
#menu > ul.menu-0 ul li a {
    height: 35px;
    line-height: 35px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 0 #888888 inset;
}
#menu .slim-scroll > ul.menu-0 ul li a.glyphicons i:before,
#menu > ul.menu-0 ul li a.glyphicons i:before {
    font-size: 12px;
    top: 7px;
    left: 22px;
    color: #222;
}
#menu .slim-scroll > ul.menu-0 ul li a:hover,
#menu > ul.menu-0 ul li a:hover {
    background: #777777;
}
#menu .slim-scroll > ul.menu-0 ul li .count,
#menu > ul.menu-0 ul li .count {
    top: 9px;
}
#menu .slim-scroll > ul.menu-0 ul li.active a,
#menu > ul.menu-0 ul li.active a {
    font-weight: 600;
    background: #6f6f6f;
}
#menu .slim-scroll > ul.menu-0 ul li.hasSubmenu.active,
#menu > ul.menu-0 ul li.hasSubmenu.active {
    background: rgba(0, 0, 0, 0.02);
}
#menu .slim-scroll > ul.menu-0 ul li.hasSubmenu.active > a,
#menu > ul.menu-0 ul li.hasSubmenu.active > a {
    background: rgba(0, 0, 0, 0.4);
}
#menu .slim-scroll > ul.menu-0 ul li ul li:first-child,
#menu > ul.menu-0 ul li ul li:first-child {
    border-top: 1px solid #3e3e3e;
}
#menu .slim-scroll > ul.menu-0 ul li ul li a,
#menu > ul.menu-0 ul li ul li a {
    height: 34px;
    line-height: 34px;
}
#menu .slim-scroll > ul.menu-0 ul li ul li.active a,
#menu > ul.menu-0 ul li ul li.active a,
#menu .slim-scroll > ul.menu-0 ul li ul li:hover a,
#menu > ul.menu-0 ul li ul li:hover a {
    color: #fff;
}
#menu .slim-scroll > ul.menu-0 ul li ul li.active a span:before,
#menu > ul.menu-0 ul li ul li.active a span:before,
#menu .slim-scroll > ul.menu-0 ul li ul li:hover a span:before,
#menu > ul.menu-0 ul li ul li:hover a span:before {
    color: #fff;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 15px; color: #aaa}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

body, html{
    height: 100%;
}
.login{
    height: 100%;
    position: relative;
}

.selectedRow{
    background-color: #9dce6e;
}

.clickable a{
    color: #333959;
}
.showPass{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #D8D9DA;;
    border-left: 0;
    border-radius: 0 4px 4px 0;   
    background: #fff;
    margin-left: -35px;
    color: #A7A7A7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.pdn-topA {
    padding-top: 5.8%;
}
.pdn-topU {
    padding-top: 5.8%;
}
.pdn-topUM {
    padding-top: 3%;
    margin-left: 56.2%;
}
.pdn-topAM{
    padding-top: 6%;
}
.box-generic {
    border: 1px solid #d8d8d8;
    padding: 15px;
    position: relative;
    background: #ffffff;
    box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -moz-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
    -webkit-box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8;
}

.preloaderbg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.0);
    text-align: center;
    z-index: 99999;
}
.preloaderbg:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: ''
}
#preloader{ 
    display: inline-block;
    position: relative;
    max-width: 80%;
    vertical-align: middle;
}

#rh{
    margin-top: 4.5%;
}

#category{
    margin-top: 5.5%;
}

.staticContent{
    height: 400px;
}

#rolesA>div>.chosen-drop>.chosen-search{
    display:none;
}

#rolesV>div>.chosen-drop>.chosen-search{
    display:none;
}

#bloodType_id3>div>div>.chosen-drop>.chosen-search{
    display:none;
}

#category_id3>div>div>.chosen-drop>.chosen-search{
    display:none;
}

.mgnB-10{
    margin-bottom: 10px !important;
}

.mgnB-5{
    margin-bottom: 5px !important;
}

.ctrlLabel2{
    padding-top: 0px !important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.dropdown-menu-override {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 230px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu-override > li > a {
    display: block;
    padding: 9px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #7c7c7c;
    white-space: nowrap;
}

.dropdown-menu-override > li > a:hover,
.dropdown-menu-override > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #8ec657;
    border: 1px solid #d8d8d8;
}


.open > .dropdown-menu-override {
    display: block;
}

.dropdown-menu-override.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu-override .divider {
    height: 1px; 
    overflow: hidden;
    margin: 1px;
    background-color: #e5e5e5;
}

.invalid{
    margin-top: 10px;
}

textarea{
    resize: none;
}

#patients tbody tr:hover,
#dataTableBody tr:hover{
    background: #8ec657 !important;
    cursor: pointer;
}

#bs-example-navbar-collapse-1 >ul > li > a{
    line-height: 33px !important;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1365px){
    .logo{
        margin-top: 100px;
    }
    .mainContent{
        margin-bottom: 180px;
    }
}

@media screen and (min-device-width: 1366px) and (max-device-width: 1439px){
    .logo{
        margin-top: 150px;
    }
    .mainContent{
        margin-bottom: 230px;
    }
}

@media screen and (min-device-width: 1440px){
    .logo{
        margin-top: 200px;
    }
    .mainContent{
        margin-bottom: 280px;
    }
}
