<!DOCTYPE html>

<html lang="ru" ng-app="ObservationList">
    <head>
        <meta charset="utf-8">
        <title>Nurse Post</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bs.bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/nurse-style.css"/>
        <link rel="icon" 
              type="image/png" 
              href="/images/medius.ico">
    </head>
    <body role="document" ng-controller="MainController">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="" ng-click="reload()">Nurse Post</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="" ng-click="showingPanels()"><i class="glyphicon glyphicon-user"></i> Список пациентов</a></li>
                        <li><a href="/"><i class="glyphicon glyphicon-user"></i> MEDIUS System</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <input type="hidden" id="iduser" value="<?php echo $idUser; ?>">
                        <li><a href="signup/logout" id="login"><i class="glyphicon glyphicon-log-out"></i> Выход</a></li>
                    </ul>

                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div class="maincontainer" ng-controller="MedcardController" ng-init="allMedcards()">
            <div ng-controller="PatientController">
                <div class="row">
                    <div class="col-sm-3">
                        <!--Поиск по пациентам-->
                        <input type="search" placeholder="Поиск" class="form-control" ng-model="search"/>
                        <!--#Поиск по пациентам-->
                        <hr>
                        <!--Список пациентов-->
                        <div class="patient-block" ng-repeat="medcard in medcards| filter:search | orderBy:'id'" ng-class="{
                                sel: $index == selected
                            }" ng-click="selectedPatient(medcard);
                                                            addActive($index)">
                            <a style="text-decoration: none;" href="" >{{medcard.patient.lastname}} {{medcard.patient.name}} {{medcard.patient.patronymic}} - {{medcard.number}}</a>
                        </div>
                        <!--#Список пациентов-->
                    </div>
                    <div class="col-sm-9" ng-controller="ObservationController">

                        <div class="info" ng-show="info">
                            <div ng-include="'/app/module/nurse-workplace/template/info.html'">                 
                            </div>
                        </div>
                        <div class="data" ng-hide="info">
                            <div ng-include="'/app/module/nurse-workplace/template/listpatient.html'">                 
                            </div>
                            <div id="charts-block" ng-show="showPanels">
                                <!--Владки с температурой, давлением, пульсом-->

                                <div role="tabpanel">

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#temperature" aria-controls="temperature" role="tab" data-toggle="tab">Температура</a></li>
                                        <li role="presentation"><a href="#pulse" aria-controls="pulse" role="tab" data-toggle="tab">Пульс</a></li>
                                        <li role="presentation"><a href="#pressure" aria-controls="pressure" role="tab" data-toggle="tab">Давление</a></li>
                                        <li role="presentation"><a href="#datas" aria-controls="datas" role="tab" data-toggle="tab">Данные</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="temperature">
                                            <div ng-cloak id="container-temperature" style="min-width: 820px;  height: 400px; "></div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="pulse">
                                            <div ng-cloak id="container-pulse" style="min-width: 820px; height: 400px; "></div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="pressure">
                                            <div ng-cloak id="container-pressure" style="min-width: 820px;  height: 400px;"></div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="datas">
                                            <div ng-cloak ng-include="'/app/module/nurse-workplace/template/temperature.html'">
                                            </div>
                                            <div ng-cloak ng-include="'/app/module/nurse-workplace/template/pulse.html'">
                                            </div>
                                            <div ng-cloak ng-include="'/app/module/nurse-workplace/template/pressure.html'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/vendor/jquery-1.11.1.js"></script>
        <script src="/vendor/angular-1.3.4/angular.js"></script>
        <script src="/vendor/highcharts/js/highcharts.js"></script>
        <script src="/vendor/angular-1.3.4/angular-cookies.min.js"></script>
        <script src="/vendor/bootstrap.min.js"></script>

        <!-- Define module -->
        <script src="/app/module/nurse-workplace/app.js"></script>
        <!-- Reusable components -->
        <script src="/app/module/medcard/controller/PatientController.js"></script>
        <script src="/app/module/medcard/controller/MedcardController.js"></script>
        <script src="/app/module/nurse-workplace/controller/ObservationController.js"></script>
        <script src="/app/module/nurse-workplace/controller/MainController.js"></script>
        <script src="/app/module/medcard/factory/PatientApiFactory.js"></script>
        <script src="/app/module/medcard/factory/MedcardApiFactory.js"></script>
        <script src="/app/module/nurse-workplace/factory/ObservationApiFactory.js"></script>
        <script src="/app/module/nurse-workplace/service/RetrieveDataService.js"></script>
        <script src="/app/module/nurse-workplace/service/RenderChartsService.js"></script>
        <!-- DI config -->
        <script src="/app/module/nurse-workplace/config.js"></script>
    </body>
</html>