<script>$(document).ready(staffIndexModule.start);</script>

<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Персонал</h4>
        </div>
        <div class="widget-body">
            <div class="preloaderbg">
                <div id="preloader">
                    <img src="/images/467.GIF" alt="AJAX loader" title="AJAX loader" />
                </div>
            </div>
            <table class="dynamicTable table table-bordered table-condensed dataTable tablesorter" id="DataTables_Table_0" style="visibility: hidden;">
                <thead>
                    <tr>
                        <th class="header">
                            №
                        </th>
                        <th class="header">
                            Ім'я
                        </th>
                        <th class="header">
                            Прізвище
                        </th>
                        <th class="header">
                            По батькові
                        </th>
                        <th class="header">
                            Роль
                        </th>
                    </tr>
                </thead>

                <tbody id="dataTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>
