<script>$(document).ready(staffRemovingModule.start);</script>
<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Видалення працівника</h4>
        </div>
        <div class="widget-body">
            <form name="removeStaff" role="form" method="post" id="jForm" action="">
                <div class="form-group">
                    <button type="submit" id="send" name="remove" class="btn btn-primary">Видалити</button>
            </form>
        </div>
    </div>
</div>