<h4>Давление
    <div class="pull-right">
        <button ng-click="toggleDeletePressure()" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove-sign"></i> Удалить</button>
        <button  ng-click="togglePressureForm();
            pressuredate = null;
            addsystolic = null; adddiastolic = null;" class="btn btn-xs btn-primary"> <i class="glyphicon glyphicon-plus-sign"></i>Добавить</button>
    </div>

</h4>

<p class="clearfix"></p>
<div  ng-show="showDeletePressure">
    <div>
        <span ng-repeat='tItem in pressures track by $index'>
            {{tItem.date.date}} 
            <a href="" ng-click="deletePressure(tItem.id, selectedMedcard)">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </span>
    </div>
</div>


<form  name="pressureform" ng-show="showPressureForm">
    <label>Дата</label>
    <input type="text" ng-model="pressuredate" class="form-control"/><br/>
    <label>Систолическое давление</label>
    <input ng-model="addsystolic" type="text" class="form-control"/> <br/>
    <label>Диастолическое давление</label>
    <input ng-model="adddiastolic" type="text" class="form-control"/> <br/>
    <button ng-click="togglePressureForm()" class="btn btn-sm btn-danger">Отменить</button>
    <button ng-click="addPressure(selectedMedcard, pressuredate, addsystolic, adddiastolic)" class="btn btn-sm btn-primary">Добавить</button>
    <hr/>
</form>
<table class="table table-hover">
    <tr>
        <th ng-repeat="value in pressuredates track by $index">
            {{value}}
        </th>
    </tr>
    <tr>
        <td ng-repeat="value in systolic track by $index">
            {{value}}
        </td>
    </tr>
    <tr>
        <td ng-repeat="value in diastolic track by $index">
            {{value}}
        </td>
    </tr>
</table>