﻿<?php echo $this->doctype(); ?>

<html lang="en" ng-app="medicus">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/images/medius.ico" type="image/x-icon">
        <title>Система MEDIUS</title>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/bootstrap-datetimepicker.min.css')
                ->prependStylesheet($this->basePath() . '/css/ng-grid.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap.css')
                ->prependStylesheet($this->basePath() . '/css/styles.css')
                ->prependStylesheet($this->basePath() . '/css/font-awesome-4.2.0/css/font-awesome.min.css')
                ->prependStylesheet($this->basePath() . '/chosen/docsupport/prism.css')
                ->prependStylesheet($this->basePath() . '/chosen/chosen.css')
                ->prependStylesheet($this->basePath() . '/DataTables-1.10.2/media/css/jquery.dataTables.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                /* CONFIG DEPENDENCY */
                ->prependFile($this->basePath() . '/app/module/medcard/config.js')
                /* ANGULAR CONTROLLERS */
                ->prependFile($this->basePath() . '/app/module/medcard/controller/ExpertInspectionController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/FoodController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/ContractController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/AdmissionDepartmentController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/ExaminationResultController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/NotebookController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/TreatmentDiagnosisController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/LocationController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/PostController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/SeparationController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/IcdController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/EfficiencyMarkController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/OperationController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/CategoryController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/HospitalizationController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/TreatmentController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/PatientController.js')
                ->prependFile($this->basePath() . '/app/module/medcard/controller/MedcardController.js')
                /* ANGULAR FACTORIES */
                ->prependFile($this->basePath() . '/app/module/medcard/factory/ExpertInspectionApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/FoodApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/ContractApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/AdmissionDepartmentApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/ExaminationResultApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/NotebookApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/TreatmentDiagnosisApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/RegionApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/LocalityApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/LocationApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/PostApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/SeparationApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/IcdApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/EfficiencyMarkApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/OperationApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/CategoryApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/HospitalizationApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/TreatmentApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/PatientApiFactory.js')
                ->prependFile($this->basePath() . '/app/module/medcard/factory/MedcardApiFactory.js')
                /* ANGULAR APP */
                ->prependFile($this->basePath() . '/app/module/medcard/app.js')
                /* OPA GOVNOCOD */
                ->prependFile($this->basePath() . '/old/scripts.js')
                ->prependFile($this->basePath() . '/old/icd-search-module.js')
                ->prependFile($this->basePath() . '/old/icd-block-module.js')
                ->prependFile($this->basePath() . '/old/icd-class-module.js')
                ->prependFile($this->basePath() . '/old/icd-index-module.js')
                ->prependFile($this->basePath() . '/old/staff-auth-module.js')
                ->prependFile($this->basePath() . '/old/staff-updating-module.js')
                ->prependFile($this->basePath() . '/old/staff-index-module.js')
                ->prependFile($this->basePath() . '/old/staff-addition-module.js')
                ->prependFile($this->basePath() . '/old/medicus-api.js')
                ->prependFile($this->basePath() . '/old/medicus-common.js')
                /* VENDOR */
                ->prependFile($this->basePath() . '/vendor/bootstrap-datetimepicker.min.js')
                ->prependFile($this->basePath() . '/chosen/chosen.jquery.js')
                ->prependFile($this->basePath() . '/DataTables-1.10.2/media/js/jquery.dataTables.js')
                ->prependFile($this->basePath() . '/vendor/ui-bootstrap-tpls.js')
                ->prependFile($this->basePath() . '/vendor/ng-grid-2.0.14.debug.js')
                ->prependFile($this->basePath() . '/vendor/angular-1.3.4/angular.js')
                ->prependFile($this->basePath() . '/vendor/bootstrap.min.js')
                ->prependFile($this->basePath() . '/vendor/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/vendor/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/vendor/jquery-1.11.1.js')
        ;
        ?>
        <script>$(document).ready(confMenu);</script>
    </head>
    <body>
        <!-- Top navbar -->
        <div class="main">
            <div class="wrapper">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img src="/images/medius.png" style="width: 108px; height: 33px;" />
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" id="adminMenu">
                                <li>
                                    <a href="/administration">
                                        <i class="fa fa-wrench"></i> Управління
                                    </a>
                                </li>
                                <li id="staffMenu">
                                    <a data-toggle="dropdown" href="">
                                        <i class="fa fa-users"></i> Персонал <i class="fa fa-caret-down"></i>                                            
                                    </a>
                                    <ul class="dropdown-menu-override pull-right" id="staffMenuItem">
                                        <li>
                                            <a href="/staff">
                                                <div class="row">
                                                    <span class="col-sm-8 col-sm-offset-1">Всі</span>
                                                    <span class="col-sm-1">    
                                                        <i class="fa fa-list-ul"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <div class="divider"></div>
                                        <li>
                                            <a href="/staff/add">
                                                <div id="addStaff" class="row">
                                                    <span class="col-sm-8 col-sm-offset-1">Додати</span>
                                                    <span class="col-sm-1">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="dropdown" href="">
                                        <i class="fa fa-file-text"></i> Медкарти <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu-override pull-right" id="menu_medcard">
                                        <li>
                                            <a href="/medcard">
                                                <div class="row">
                                                    <span class="col-sm-8 col-sm-offset-1">Всі</span>
                                                    <span class="col-sm-1">    
                                                        <i class="fa fa-list-ul"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <div class="divider"></div>
                                        <li id="MedcardMenuAdd">
                                            <a href="/medcard/add">
                                                <div class="row">
                                                    <span class="col-sm-8 col-sm-offset-1">Додати</span>
                                                    <span class="col-sm-1">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/icd"> 
                                        <i class="fa fa-list"></i> МКБ-10
                                    </a>
                                </li>
                                <li>
                                    <a href="/nurse-workplace">
                                        <i class="fa fa-external-link-square"></i> АРМ медсестри
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/help">
                                        <i class="fa fa-info"></i> Допомога
                                    </a>
                                </li>
                                <li>
                                    <a href="" id="logout">
                                        <i class="fa fa-sign-out"></i> Вихід
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </nav>
            </div>
        </div>
        <!-- Top navbar END -->

        <!-- Content -->
        <div id="content" style="margin-top: 15px;">
            <?php echo $this->content; ?>

            <div class="clearfix"></div>
            <!-- // Sidebar menu & content wrapper END -->
            <div class="mainFooter" style="margin-left: 5%; width: 92%;">
                <div class="separator-line mainSL"></div>
                <div style="margin-top: 15px;">
                    <div class="text-left" style="float: left;">&copy; 2014 <b>MedIUS</b></div>
                    <div class="text-right">Розроблено кафедрою <b>ІУС</b> КрНУ</div>
                </div>
            </div>
            <!-- // Footer END -->
        </div>
        <!-- // Content END -->

    </body>
</html>
