
<div class="container">
    <div class="wrapper">
        <div class="text-center logo">
            <img src="/images/medius.png" />
            <div class="separator"></div>
            <div class="mainContent">
                Система MEDIUS призначена для автоматизації роботи, обліку <br /> та зберігання інформації, управління медичною картою пацієнтів. 
            </div>
        </div>
    </div>
</div>